.appBar {
  position: 'absolute';
  width: calc(100% - 240px) !important;
  margin-left: 240px;
}

.entries {
  width: calc(100% - 240px) !important;
  margin-left: 240px;
}

.entriesContent {
  margin-top: 70px;
  padding: 20px
}

.title {
  flex: 1
}